<%- include('adminHeader')%>
<body>
<header class="container-fluid">
   <img width=40 src="../images/logo2.png"><span style="color:#fff">RH CMS</span>
  <ul class="headerbar">
    <li><a href="/" target="_blank"><span class="glyphicon glyphicon-home"></span></a></li>
  </ul>
  <span class="user_panel"><img class="img-rounded" width=40 src="../images/pencil.png"> <%= user%> <a href="/admin/logout">退出</a></span>
</header>
<div class="sidebar">
  <div class=" sidenav">
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="搜索">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
          </div>
        </form>
        <ul class="nav nav-pills nav-stacked">
          <li ><a href="/admin/home">仪表盘</a></li>
          <li class="active"><a href="/admin/news">新闻管理</a></li>
          <li ><a href="/admin/date">日程管理</a></li>
          <li><a href="/admin/speaker">讲者管理</a></li>
          <li><a href="/admin/sponsor">赞助管理</a></li>
        </ul><br>
        
      </div>
</div>

<div class="container-fluid wrap">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-5 news_op">
          <button type=button class="btn btn-default btn-sm" id="createNews">新建</button>
          <button type=button class="btn btn-default btn-sm" id="delNews">删除</button>
        </div>
        <div class="col-sm-5">
        </div>
        <div class="col-sm-2 text-right news_type">
          <select class="selectpicker" data-width="100px">
              <option value="all">全部</option>
              <option value="section1">section1</option>
              <option value="section2">section2</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row table-responsive">
      <table class="table table-striped table-condensed">
        <tr>
          <td style="width:80px;"><input type="checkbox" id="newsItemAll">全选</td><td style="min-width:180px;" class="text-center">标题</td><td class="text-center">发布时间</td><td class="text-center">状态</td><td class="text-center">操作</td>
          <% var state={0:'未发布',1:'已发布'}; for(var i=0;i<newsList.length;i++){%>
              <tr><td><input type="checkbox" class="newsItem"> <%= i+1%>.</td><td><%= newsList[i]['title']%></td><td class="text-center"><%= newsList[i]['publishTime']%></td><td class="text-center"><%= state[newsList[i]['published']]%></td><td class="text-center"><a class="newsListOp" href="/admin/updateNews/:<%= newsList[i]['_id']%>">修改</a><a class="newsListOp" href="/admin/news/published/:<%= newsList[i]['_id']%>">发布</a><a class="newsListOp" href="/admin/news/unpublished/:<%= newsList[i]['_id']%>">撤销</a><a class="newsListOp" href="/admin/news/delete/:<%= newsList[i]['_id']%>" style="color:red">删除</a></td></tr>
          <% }%>
        </tr
      </table>
  </div>
</div>


<script src="../js/admin.js"></script>
<%- include('../footer')%>